@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
*{margin:0; padding:0; font-family:"Share Tech Mono", monospace;}
html{
    scroll-behavior: smooth;
}
body{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    background-color: var(--primary);
    color:var(--highlight);
    cursor:cell;
}
h1{
    color:var(--lightcream);
}

p{
    color:var(--lightcream);
}
.main{
    margin-top:0dvh;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    text-align: left;
    width:90dvw; height:100dvh;
}

.hero1{
    padding:0px 0px 10px 0px;
    width: 70%;
}

.hyprlinks{
    color:var(--highlight);
}

.technologies{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.icon-n-name{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
}


@media screen and (max-width:400px){
    body{
        width:90dvw; 
    }
    p{
        font-size:1rem;
    }
    h1{
        font-size: 1.5rem;;
    }
    .main{
        width:90dvw;
    }
}