.contact-infos{
    margin-top: 0px;
    display: flex; flex-direction: column;
    justify-content: center;align-items: center;
    height: 100dvh; width:90dvw;
}

.backbutton{
    border-radius:5px; border:0px;
    position:absolute; top:0; left:0;
    color:var(--highlight);
    padding: 10px;
    background-color: rgba(0,0,0,0);
    font-size: 1rem;
}

.backbutton:hover{
    background-color: var(--intense-primary);
    cursor:auto;
}