@import url('colors.css');
@import url('navbar.css');
@import url('footer.css');
@import url('classrooms.css');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

html, body{
    margin:0px;
    padding: 0px;
}

body{
    font-family:'Syne Mono',monospace;
    color: var(--white);
    min-height: 100dvh;
    background-color: var(--dgray);
    display: flex; flex-direction: column;
    
    background-position: center center; background-repeat: no-repeat; 
    background-size: cover; background-attachment: scroll; 
    background-image: url('https://images.unsplash.com/photo-1759173084016-08b0fffd377c?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    backdrop-filter: blur(5px) brightness(50%);

}

.body-sect{
    display: flex;flex-direction: column;
    width: 100%; min-height:100dvh; height: auto;
    justify-content: center; align-items: center;
    /*margin-top: auto; margin-bottom: auto;*/
}

.hero{
    display: flex; flex-direction: row;
    width: 100%; min-height:100dvh; height: auto;
    justify-content: center; align-items: center;
}

.welcome-h{
    font-size:3rem;
    margin:0; padding:0;
}
.welcome-p{
    font-family:"Syne Mono",monospace;
    font-size: 1rem;
}
.hero-ul{
    display: flex; flex-direction: row;
    list-style-type: none;
    gap:16px;
    margin:0; padding:0;
}

.welcome-div{
    display: flex; flex-direction: column;
    justify-content: center;
    width: 50%; height: 100%;
    padding: 0rem 5rem 0 5rem;
}

.icons{
    width: 50px;
    background-color: var(--lgreen); 
    padding:4px; border-radius: 20px;
}
.tech-precomp{
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    width: 50%; height: 100%;
    padding: 0 2rem 0 2rem;
}
.tech-div{
    font-size:0.75rem; gap: 8px;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    width: 100%;
    flex-wrap: wrap; gap:1rem;
}
.stack-block{
    width: 100%;
    padding: 16px 0 0 0;
    border-radius: 20px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    background-color: rgba(0,0,0,0.25);
}
.stack-block:hover{
    background-color: rgba(255,255,255,0.55);
    color: var(--dgray);
}

#hero2{
    display: none;
    width: 100%; height: 100dvh;
    justify-content: center; align-items: center;
}

.pw-precomp{
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    height:100%;width: 100%;
}
.pw-cont{
    display: flex; /*flex-direction: column;*/
    justify-content: center; align-items: center;
    background-color: red;
    width: 70%; 
}
.placeholder-box{
    background-color: var(--dgreen);
    width:480px; height: 270px;
}
@media screen and (max-width:750px){
    html,body{
        overflow-x:hidden;
    }
    .body-sect{
        margin:0px;
        width: 100%;
    }
    #hero1{
        flex-direction: column;
        justify-content: center; align-items: center;
        width: 100%; height: 100%;
        padding-top:16px;
    }
    #hero2{
        display: none;
    }
    .welcome-div{
        text-align: center;
        width: 100%;
        padding-top: 26px;padding-bottom:2rem;
        justify-content: center; align-items: center;
    }
    .welcome-h{
        font-size: 2.5rem;
    }
    .welcome-p{
        padding:0 8px 0 8px;
    }
    .tech-precomp{
        width: 100%;
        background-color: rgba(0,0,0,0.55);
        padding-top: 20px; padding-bottom: 48px;
        padding-left:8px;padding-right: 8px;
    }
    .tech-div{
        width:100%;
        flex-direction: row;
        font-size: 0.5rem;
        
    }
    .tech-h{
        text-align: center;
    }
    .stack-block{
        flex:1 1 200px;
        max-width: 300px;
        height: 100%;
        width:100%;
        justify-content: center;
    }
    .nav-ul{
        text-align: center;
        justify-content: center; align-items: center;
        height: 2rem; font-size: 14px;
    }
    .nav-ul .nav-li .nav-a {
        padding:8px;
        text-decoration: underline;
    }
   .footer-sect{
    display: none;
    }
    .classrooms{
        flex:1 1 200px;
        max-width: 300px;
    }
}

@media screen and (max-width: 430px){

}
